<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Font  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,600">
    <!-- Bootstrap CDN  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Authentications</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-color: #2F4960;
        background-image: linear-gradient(to bottom right, #2F4960 10%, #102040);
        background: #021529;
        font-family: Raleway;
      }

      form {
        display: block;
        width: 100%;
        max-width: 400px;
        padding: 30px 30px;
        background-image: linear-gradient(to bottom, #00BC7E, #108775);
        background: rgb(29,93,124);
        background-image: linear-gradient(90deg, rgba(29,93,124,1) 0%, rgba(32,73,106,1) 79%);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
      }

      form h1 {
        color: #FFF;
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      form .form-group {
        margin-bottom: 30px;
      }

      form label {
        display: block;
        color:#eee;
        margin-bottom: 5px;
      }

      form input {
        appearance: none;
        background: none;
        outline: none;
        border: none;
      }

      form input:not([type="submit"]) {
        display: block;
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        transition: 0.4s;
        color: #222;
        font-size: 18px;
        font-weight: 300;
      }

      form input:not([type="submit"])::placeholder {
        color: #CCC;
      }

      form input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
        background-color: #fff;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
      }

      form input[type="submit"] {
        display: block;
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        background-color: #021529;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        border: none;
        transition: 0.4s;
        color: #FFF;
        font-size: 20px;
        cursor: pointer;
        transition: 0.8s;
      }

      form input[type="submit"]:hover {
        background-color: #0d2548;
        color: white;
      }

      .form-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    </style>
  </head>

  <body>

    <div class="container mb-5">
      <h1 class="text-center p-3 text-white">Reset Your Password</h1>
      <div
        style="margin: 0 auto"
        class="p-1 form-box"
      >
      <% if(typeof reset !='undefined' ){ %> <% if( reset){ %> <% if(typeof
        err !='undefined' ){ %> 
        <!-- // render the form to reset password  -->
        <form action="/user/reset-password" , method="POST">
          <% if( err !="" ){ %>
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <strong> Error! </strong>
              <%= err %>.
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <% } %> <% } %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="mb-3 mt-3">
            <label for="password">Enter New Password</label>
            <input
              type="password"
              class="form-control form-control-lg"
              name="password"
              id="password"
              autocomplete="off"
              placeholder="Password"
            />
          </div>
          <div class="mb-3">
            <label for="password">Confirm New Password</label>
            <input
              type="password"
              class="form-control form-control-lg"
              name="password2"
              id="password"
              autocomplete="off"
              placeholder="Password Again"
            />
          </div>
          <input type="hidden" name="email" value="<%= email %>" />
          <div class="d-grid gap-3 mb-3">
            <input
              type="submit"
              class="btn btn-lg btn-block btn-outline-success"
              value="Reset Password"
            />
          </div>
        </form>

        <% }else{ %> <% } %> <% }else{ %>
        <!-- // render the form to send reset link -->
        
        <form action="/user/forgot-password" , method="POST">
          <% if(typeof msg !='undefined' ){ %> <% if( msg !="" ){ %>
            <div
              class="alert alert-<%= type %> alert-dismissible fade show"
              role="alert"
            >
              <strong> Msg! </strong>
              <%= msg %>.
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <% } %> <% } %> 
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="mb-3">
            <label for="email">Enter Your Email</label>
            <input
              type="email"
              class="form-control form-control-lg"
              name="email"
              id="email"
              autocomplete="off"
              placeholder="Email"
            />
          </div>

          <div class="d-grid gap-3 mb-3">
            <input
              type="submit"
              class="btn btn-lg btn-block btn-outline-success"
              value="Send Reset Link"
            />
          </div>
          <div style="text-align: center; margin-top: 20px;">
            <a class="card-link text-warning" href="/login">Login</a>
            <a class="card-link text-warning" href="/signup">Register</a>
          </div>  
        </form>
        <% } %>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
